@media (max-width: 1280px) {
    .modal-container{
        .modal-wrapper{
          max-width: calc(100% - 28px);
        }
    }
    header{
        .header-pin{
            position: relative;
            .top{
                .container{
                    .header-form{
                        display: flex;
                        gap: 10px;
                        width: 100%;
                        justify-content: space-between;
                        input{
                            display: none;
                        }
                    }
                    .user-info{
                        display: none;
                    }
                }
            }
            .bottom{
                .container{
                    .mobilem-toggle{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 36px;
                        font-size: 28px;
                        background: -webkit-linear-gradient(#b19d5d, #886638);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .a-left,.a-right{
                        display: none;
                    }
                }
            }
            .mobile-menu{
                height: auto;
                background-color: #1d1d1d;
                position: absolute;
                bottom: -210px;
                left: 0;
                width: 100%;
                flex-direction: column;
                padding: 0 36px;
                a{
                    text-align: left;
                    padding: 10px 12px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 1px solid #38383899;
                }
            }
            .mobile-user{
                height: auto;
                background-color: #1d1d1d;
                position: absolute;
                bottom: -61px;
                width: 100%;
                padding: 16px 0;
                .inner{
                    display: flex;
                    align-items: center;
                    gap: 0;
                    justify-content: space-around;
                    .message{
                        position: relative;
                        .count{
                            position: absolute;
                            background: red;
                            color: #fff;
                            border-radius: 50%;
                            height: 21px;
                            width: 21px;
                            top: -10px;
                            right: -11px;
                            font-weight: 400;
                            font-size: 12px;
                        }
                        i{
                            background: -webkit-linear-gradient(#e7cc7c, #ffac4c);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            margin-right: 5px;
                            font-weight: 700;
                        }
                    }
                    .points,.balance{
                        i{
                            background: -webkit-linear-gradient(#e7cc7c, #ffac4c);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            margin-right: 5px;
                            font-weight: 700;
                        }
                    }
                    .avatar{
                        color: #000;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        background: -webkit-linear-gradient(#e7cc7c, #ffac4c);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-right: 5px;
                        font-weight: 700;
                        &:hover{
                            color: rgb(41, 41, 41) !important;
                        }
                        i{
                            font-size: 30px;
                        }
                    }
                    .logout{
                        background: -webkit-linear-gradient(#e7cc7c, #ffac4c);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-right: 5px;
                        font-weight: 700;
                    }
                }
            }
        }
        .slide{
            margin-top: 0;
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        display: block !important;
                        bottom: unset;
                    }
                }
            }
        }
        #sliderIndicators{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        h5{
                            font-size: 24px;
                            white-space: nowrap;
                        }
                        p{
                            text-shadow: 2px 2px 2px black;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .body-content{
        .content-wrapper{
            width: calc(100% - 20px);
            &.form,&.fluid{
                min-width: unset;
                padding: 20px;
            }
            &.fluid{
                .right{
                    a{
                        font-size: 12px;
                    }
                }
                .btn{
                    font-size: 12px;
                }
            }
        }
        .cards-wrapper{
            .main-card{
                width: calc(100% / 3.3) !important;
                height: 280px;
            }
        }
    }
    main{
        .slot-banner{
            .jackpot{
                right: 50%;
                top: 50%;
                transform: translate(50%,-50%);
                white-space: nowrap;
            }
        }
        .list-wrapper{
            flex-direction: column;
            ul{
                width: 100%;
                li:not(.header){
                    a,span{
                        width: 300px;
                        font-size: 15px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: left;
                        overflow: hidden;
                    }
                }
            }
        }
        .bottom-menu{
            height: auto;
            padding: 0;
            a{
                padding: 10px;
                flex-direction: column !important;
                text-align: center;
                div{
                    h3,span{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 900px) {
    footer{
        .container{
            .providers{
                img{
                    width: 92px;
                    height: 29px;
                }
            }
            .footer-top{
                flex-direction: column;
                > div{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 750px){
    header{
        .header-pin{
            .mobile-user{
                bottom: -232px;
                padding-bottom: unset;
                .inner{
                    flex-direction: column;
                    .message{
                        .count{
                            top: 0;
                            right: 50%;
                            transform: translateX(98%);
                        }
                    }
                    a{
                        padding: 10px;
                        border-bottom: 1px solid #38383899;
                        width: 100%;
                        &:last-child{
                            border-bottom: unset;
                        }
                    }
                }
            }
        }
    }
    .body-content{
        .cards-wrapper{
            .main-card{
                width: calc(100% / 3.3) !important;
                height: 200px;
            }
        }
        .title-wrapper{
            .title{
                font-size: 40px;
                color: #dfad30;
                font-weight: 900;
                text-align: center;
            }
        }
        ul{
            &.content-ul{
                flex-wrap: wrap;
                justify-content: center;
                li{
                    padding: 10px 30px;
                    width: calc(100% / 3);
                    a{
                        gap: 4px;
                        font-size: 16px;
                        align-items: center;
                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .content-wrapper{
            padding: 10px;
            .body-table{
                thead{
                    tr{
                        th{
                            min-width: unset;
                            max-width: 50px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            padding: 3px;
                            font-size: 12px;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            max-width: 50px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            padding: 3px;
                            font-size: 12px;
                            button{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .slot-banner{
            .jackpot{
                flex-direction: column;
                gap: 0;
                font-size: 40px;
            }
        }
        .bottom-menu{
            a{
                img{
                    max-width: 30px;
                    max-height: 30px;
                }
                div{
                    h3,span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px){
    header{
        .slide{
            .carousel-indicators{
                display: none !important;
            }
        }
    }
    .body-content{
        .cards-wrapper{
            gap: 8px;
            .main-card{
                width: calc(100% / 2.2) !important;
                height: 300px;
            }
        }
        .content-wrapper{
            form{
                button{
                    font-size: 12px !important;
                }
                .form-btns{
                    .top{
                        flex-direction: column;
                        width: 100% !important;
                        button{
                            width: 100% !important;
                        }
                    }
                    .bottom{
                        button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media (max-width: 500px){
    main{
        .casino-banner,.slot-banner{
            padding: 0;
            .sub{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
                gap: 3px;
                .title{
                    font-size: 15px;
                }
            }
        }
        .slot-banner{
            .jackpot{
                flex-direction: column;
                gap: 0;
                font-size: 30px;
            }
        }
        .bottom-menu{
            a{
                div{
                    display: none;
                }
            }
        }
        .list-wrapper{
            ul {
                .header{
                    span{
                        font-size: 12px;
                    }
                }
                li:not(.header){
                    a,span{
                        width: 200px;
                        font-size: 12px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: left;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}